################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server-Service/bin/Debug
/Server-Service/obj/Debug
/TestHarness/obj/Debug
/.vs/A-06/v16
/Client/bin/Debug
/Client/obj/Debug
